    # VeriKaynağı: https://archive.ics.uci.edu/ml/datasets/online+retail
    # Orijinal veri dosyası üzerinde küçük temizlikler yapılmıştır.
    # Bu yüzden Github repoda bulunan OnlineRetail.csv kaynakta bulunan ile küçük farklılıklar gösterebilir. Orijinal veri seti OnlineRetailDirty.xlsx dir.
    
    
    NİTELİKLER VE AÇIKLAMALARI
    # InvoiceNo: Invoice number. Nominal, a 6-digit integral number uniquely assigned to each transaction. If this code starts with letter 'c', it indicates a cancellation. 
    # StockCode: Product (item) code. Nominal, a 5-digit integral number uniquely assigned to each distinct product. 
    # Description: Product (item) name. Nominal. 
    # Quantity: The quantities of each product (item) per transaction. Numeric.	
    # InvoiceDate: Invice Date and time. Numeric, the day and time when each transaction was generated. 
    # UnitPrice: Unit price. Numeric, Product price per unit in sterling. 
    # CustomerID: Customer number. Nominal, a 5-digit integral number uniquely assigned to each customer. 
    # Country: Country name. Nominal, the name of the country where each customer resides.

In [1]:
import pandas as pd

In [2]:
data_path = "D:\\OneDrive\\egitim\\verilen\\bogazici-compec-python-ml\\Datasets\\"
data_set = "OnlineRetailDirty.xlsx"

In [3]:
df = pd.read_excel(data_path + data_set)

In [4]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
Description    540455 non-null object
Quantity       541909 non-null int64
InvoiceDate    541909 non-null datetime64[ns]
UnitPrice      541909 non-null float64
CustomerID     406829 non-null float64
Country        541909 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

# Pandas Dataframe'i diske yazma

In [6]:
df.to_csv(path_or_buf="D:\\OneDrive\\egitim\\verilen\\bogazici-compec-python-ml\\Datasets\\OnlineRetailIkiSutun.csv", 
          sep=",", index=False, header=True, columns=['InvoiceNo','StockCode'])
#Daha fazla bilgi: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html