In [1]:
import pandas as pd

In [2]:
data_path = "D:\\OneDrive\\egitim\\verilen\\bogazici-compec-python-ml\\Datasets\\"
data_set = "OnlineRetailDirty.xlsx"

In [3]:
df = pd.read_excel(data_path + data_set)

In [4]:
# Yavaş okudu değil mi? 
# Eğer daha hızlı okumak istiyorsanız excel dosyanızı csv formatına çevirmenizi öneririm.

In [5]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

# upper() Country Büyük Harf

In [7]:
df.Country.str.upper().head()

0    UNITED KINGDOM
1    UNITED KINGDOM
2    UNITED KINGDOM
3    UNITED KINGDOM
4    UNITED KINGDOM
Name: Country, dtype: object

# contains() İçerenler

In [8]:
df.Description.str.contains("COFFEE").head()

0    False
1    False
2    False
3    False
4    False
Name: Description, dtype: object

In [9]:
df[df.Description.str.contains("COFFEE")].head()

ValueError: cannot index with vector containing NA / NaN values

# Hatanın Çözümü

In [12]:
df[df.Description.str.contains("COFFEE", na=False)].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
53,536373,37370,RETRO COFFEE MUGS ASSORTED,6,2010-12-01 09:02:00,1.06,17850.0,United Kingdom
70,536375,37370,RETRO COFFEE MUGS ASSORTED,6,2010-12-01 09:32:00,1.06,17850.0,United Kingdom
283,536396,37370,RETRO COFFEE MUGS ASSORTED,6,2010-12-01 10:51:00,1.06,17850.0,United Kingdom
420,536406,37370,RETRO COFFEE MUGS ASSORTED,6,2010-12-01 11:33:00,1.06,17850.0,United Kingdom
1044,536522,37370,RETRO COFFEE MUGS ASSORTED,2,2010-12-01 12:49:00,1.25,15012.0,United Kingdom

# İptal edilen Satışlar

In [15]:
df[df.InvoiceNo.str.startswith("C", na=False)].head()
# df[df.InvoiceNo.str.startswith("C", na=False)].head() ilk yöntem

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,2010-12-01 09:41:00,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01 09:49:00,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2010-12-01 10:24:00,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom

In [16]:
df[df.InvoiceNo.str.contains("C", na=False)].head()
#  ikinci yöntem

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,2010-12-01 09:41:00,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01 09:49:00,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2010-12-01 10:24:00,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom

In [17]:
df[df.InvoiceNo.str[0] =="C"].head()
#  üçüncü yöntem

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,2010-12-01 09:41:00,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01 09:49:00,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2010-12-01 10:24:00,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom

# replace() Yer Değiştirme

## Bir sütun içinde geçen örüntüyü değiştirme

In [22]:
df['Description'] = df['Description'].replace({'RETRO':'STARBUCKS'}, regex=True)

In [23]:
df[df.Description.str.contains('STARBUCKS', na=False)].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
33,536370,21035,SET/2 RED STARBUCKSSPOT TEA TOWELS,18,2010-12-01 08:45:00,2.95,12583.0,France
53,536373,37370,STARBUCKS COFFEE MUGS ASSORTED,6,2010-12-01 09:02:00,1.06,17850.0,United Kingdom
70,536375,37370,STARBUCKS COFFEE MUGS ASSORTED,6,2010-12-01 09:32:00,1.06,17850.0,United Kingdom
90,536378,84997B,RED 3 PIECE STARBUCKSSPOT CUTLERY SET,12,2010-12-01 09:37:00,3.75,14688.0,United Kingdom
93,536378,20725,LUNCH BAG RED STARBUCKSSPOT,10,2010-12-01 09:37:00,1.65,14688.0,United Kingdom

In [24]:
df['Description'] = df['Description'].replace({'BAG':'ÇANTA'}, regex=True)
df[df.Description.str.contains('ÇANTA', na=False)].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
38,536370,22661,CHARLOTTE ÇANTA DOLLY GIRL DESIGN,20,2010-12-01 08:45:00,0.85,12583.0,France
86,536378,22386,JUMBO ÇANTA PINK POLKADOT,10,2010-12-01 09:37:00,1.95,14688.0,United Kingdom
87,536378,85099C,JUMBO ÇANTA BAROQUE BLACK WHITE,10,2010-12-01 09:37:00,1.95,14688.0,United Kingdom
88,536378,21033,JUMBO ÇANTA CHARLIE AND LOLA TOYS,10,2010-12-01 09:37:00,2.95,14688.0,United Kingdom
89,536378,20723,STRAWBERRY CHARLOTTE ÇANTA,10,2010-12-01 09:37:00,0.85,14688.0,United Kingdom

# Bir sütun içinde geçen birden fazla örüntüyü değiştirme

In [25]:
df['Description'] = df['Description'].replace({'CUTLERY':'Culterly','COFFEE':'Kahve'}, regex=True)

In [26]:
df[df['Description'].str.contains('Kahve', na=False)].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
53,536373,37370,STARBUCKS Kahve MUGS ASSORTED,6,2010-12-01 09:02:00,1.06,17850.0,United Kingdom
70,536375,37370,STARBUCKS Kahve MUGS ASSORTED,6,2010-12-01 09:32:00,1.06,17850.0,United Kingdom
283,536396,37370,STARBUCKS Kahve MUGS ASSORTED,6,2010-12-01 10:51:00,1.06,17850.0,United Kingdom
420,536406,37370,STARBUCKS Kahve MUGS ASSORTED,6,2010-12-01 11:33:00,1.06,17850.0,United Kingdom
1044,536522,37370,STARBUCKS Kahve MUGS ASSORTED,2,2010-12-01 12:49:00,1.25,15012.0,United Kingdom

## Bir sütun değerinin tamamını değiştirme

In [27]:
df['Country'] = df['Country'].replace('United Kingdom', 'Turkey Republic')

In [28]:
df[df.Country.str.contains('Turkey', na=False)].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,Turkey Republic
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,Turkey Republic
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,Turkey Republic
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,Turkey Republic
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,Turkey Republic

# Boşlukları trim etme

In [29]:
df['InvoiceDate'] = df['InvoiceDate'].astype(str).str.strip()

# Sütunu truncate etmek

In [32]:
# saat ve saniyeden kurtulmak
df['InvoiceDate'] = df['InvoiceDate'].apply(lambda x: x[:-9]) # ss:dd 5+boşluk=6
df['InvoiceDate'] = df['InvoiceDate'].str.strip()

In [33]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010,2.55,17850.0,Turkey Republic
1,536365,71053,WHITE METAL LANTERN,6,2010,3.39,17850.0,Turkey Republic
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010,2.75,17850.0,Turkey Republic
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010,3.39,17850.0,Turkey Republic
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010,3.39,17850.0,Turkey Republic