In [1]:
import pandas as pd

In [2]:
data_path = "D:\\OneDrive\\egitim\\verilen\\bogazici-compec-python-ml\\Datasets\\"
data_set = "OnlineRetail2.csv"

# Dataframe okurken indeks sütunu belirlemek

In [3]:
# Read dataset. While reading make date column dataframe index and parse date column as timestamp
df = pd.read_csv(data_path+data_set, parse_dates=['InvoiceDate'], index_col="InvoiceDate")

In [4]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country
InvoiceDate,,,,,,,
2010-12-01 08:26:00,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom
2010-12-01 08:26:00,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom
2010-12-01 08:26:00,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom
2010-12-01 08:26:00,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom
2010-12-01 08:26:00,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom

# Dataframe'i Indekse Göre Sıralama

In [5]:
df = df.sort_index()

In [6]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country
InvoiceDate,,,,,,,
2010-12-01 08:26:00,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom
2010-12-01 08:26:00,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom
2010-12-01 08:26:00,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom
2010-12-01 08:26:00,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom
2010-12-01 08:26:00,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom

# Tarih (Index) Bilgisinden Yeni Nitelikler Üretmek

In [7]:
df['year'] = df.index.year
df['day_of_month'] = df.index.day
df['month'] = df.index.month
df['day_of_week'] = df.index.dayofweek
df['quarter'] = df.index.quarter
df['week_of_year'] = df.index.weekofyear
df['date'] = df.index

In [8]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,year,day_of_month,month,day_of_week,quarter,week_of_year,date
InvoiceDate,,,,,,,,,,,,,,
2010-12-01 08:26:00,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,2010,1,12,2,4,48,2010-12-01 08:26:00
2010-12-01 08:26:00,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,2010,1,12,2,4,48,2010-12-01 08:26:00
2010-12-01 08:26:00,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,2010,1,12,2,4,48,2010-12-01 08:26:00
2010-12-01 08:26:00,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom,2010,1,12,2,4,48,2010-12-01 08:26:00
2010-12-01 08:26:00,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom,2010,1,12,2,4,48,2010-12-01 08:26:00

# Tarihlerde bir tuhaflık var mı?

In [9]:
print("max month:", df.month.max())
print("min month:", df.month.min())
print("max year:", df.year.max())
print("min year:", df.year.min())
print("max day of month:", df.day_of_month.max())
print("min day of month:", df.day_of_month.min())
print("max day of week:", df.day_of_week.max())
print("min day of week:", df.day_of_week.min())

max month: 12
min month: 1
max year: 2011
min year: 2010
max day of month: 31
min day of month: 1
max day of week: 6
min day of week: 0

In [10]:
# Yukarıdaki bilgiye göre bir anormallik yok. Yalnızca kütüphaneyi yazanlar Pazartesi gününü
# 0, Pazar gününü 6 kabul etmişler. O yüzden haftanın günleri 0-6 aralğında.

# Tarihlere göre satışları inceleme

In [11]:
# İncelemeye geçmeden önce her bir malzemenin o işlemde ne kadar tuttuğunu hesaplamamız lazım.,
# Çünkü elimizde sadece Quantity ve UnitPrice var. Yani satış miktarı ve birim fiyat.
# Bu ikisinin çarpımıntan TotalPrice hesaplayalım

# ToplamFiyatı hesaplama ve yeni sütun olarak ekleme

In [12]:
#df['TotalPrice'] = df['Quantity'].mul(df['UnitPrice'])
df['TotalPrice'] = df['Quantity'] * df['UnitPrice']

In [13]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,year,day_of_month,month,day_of_week,quarter,week_of_year,date,TotalPrice
InvoiceDate,,,,,,,,,,,,,,,
2010-12-01 08:26:00,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,2010,1,12,2,4,48,2010-12-01 08:26:00,15.30
2010-12-01 08:26:00,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,2010,1,12,2,4,48,2010-12-01 08:26:00,20.34
2010-12-01 08:26:00,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,2010,1,12,2,4,48,2010-12-01 08:26:00,22.00
2010-12-01 08:26:00,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom,2010,1,12,2,4,48,2010-12-01 08:26:00,20.34
2010-12-01 08:26:00,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom,2010,1,12,2,4,48,2010-12-01 08:26:00,20.34

# Haftanın hangi günlerinde ne kadar satış olmuş?

In [14]:
df[['day_of_week','Quantity']] \
.groupby('day_of_week') \
.agg('sum') \
.sort_values('Quantity', ascending=False) \
.head(10)

             Quantity
day_of_week
3             1167823
2              969558
1              961543
0              815354
4              794440
6              467732

## Gün isimlerini dataframe'e ekleme

### 1. Yöntem

In [15]:
df.day_of_week.count()

541909

In [16]:
days = []
for i in df.day_of_week:
    if i == 0:days.append('Pazartesi')
    elif i == 1:days.append('Salı')
    elif i == 2:days.append('Çarşamba')
    elif i == 3:days.append('Perşembe')
    elif i == 4:days.append('Cuma')
    elif i == 5:days.append('Cumartesi')
    else :days.append('Pazar')

In [17]:
len(days)

541909

In [18]:
days[:20]

['Çarşamba',
 'Çarşamba',
 'Çarşamba',
 'Çarşamba',
 'Çarşamba',
 'Çarşamba',
 'Çarşamba',
 'Çarşamba',
 'Çarşamba',
 'Çarşamba',
 'Çarşamba',
 'Çarşamba',
 'Çarşamba',
 'Çarşamba',
 'Çarşamba',
 'Çarşamba',
 'Çarşamba',
 'Çarşamba',
 'Çarşamba',
 'Çarşamba']

In [19]:
df['day_name'] = days

In [20]:
df[df.day_of_week == 4].head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,year,day_of_month,month,day_of_week,quarter,week_of_year,date,TotalPrice,day_name
InvoiceDate,,,,,,,,,,,,,,,,
2010-12-03 09:31:00,536847,22155,STAR DECORATION RUSTIC,48,0.42,17135.0,United Kingdom,2010,3,12,4,4,48,2010-12-03 09:31:00,20.16,Cuma
2010-12-03 09:31:00,536847,21807,WHITE CHRISTMAS STAR DECORATION,36,0.42,17135.0,United Kingdom,2010,3,12,4,4,48,2010-12-03 09:31:00,15.12,Cuma
2010-12-03 09:31:00,536847,22161,HEART DECORATION RUSTIC HANGING,24,0.65,17135.0,United Kingdom,2010,3,12,4,4,48,2010-12-03 09:31:00,15.60,Cuma
2010-12-03 09:31:00,536847,22065,CHRISTMAS PUDDING TRINKET POT,24,1.45,17135.0,United Kingdom,2010,3,12,4,4,48,2010-12-03 09:31:00,34.80,Cuma
2010-12-03 09:31:00,536847,20956,PORCELAIN T-LIGHT HOLDERS ASSORTED,12,1.25,17135.0,United Kingdom,2010,3,12,4,4,48,2010-12-03 09:31:00,15.00,Cuma

### 2. Yöntem

In [21]:
df.day_of_week.replace({0:'Pazartesi',1:'Salı',2:'Çarşamba',3:'Perşembe',4:'Cuma',5:'Cumartesi',6:'Pazar'}, regex=True).head()
#df.head()

InvoiceDate
2010-12-01 08:26:00    Çarşamba
2010-12-01 08:26:00    Çarşamba
2010-12-01 08:26:00    Çarşamba
2010-12-01 08:26:00    Çarşamba
2010-12-01 08:26:00    Çarşamba
Name: day_of_week, dtype: object

In [22]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,year,day_of_month,month,day_of_week,quarter,week_of_year,date,TotalPrice,day_name
InvoiceDate,,,,,,,,,,,,,,,,
2010-12-01 08:26:00,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,2010,1,12,2,4,48,2010-12-01 08:26:00,15.30,Çarşamba
2010-12-01 08:26:00,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,2010,1,12,2,4,48,2010-12-01 08:26:00,20.34,Çarşamba
2010-12-01 08:26:00,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,2010,1,12,2,4,48,2010-12-01 08:26:00,22.00,Çarşamba
2010-12-01 08:26:00,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom,2010,1,12,2,4,48,2010-12-01 08:26:00,20.34,Çarşamba
2010-12-01 08:26:00,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom,2010,1,12,2,4,48,2010-12-01 08:26:00,20.34,Çarşamba

# Gün İsimlerine Göre Toplam Satış

In [23]:
df[['day_name','Quantity']] \
.groupby('day_name') \
.agg('sum') \
.sort_values('Quantity', ascending=False) \
.head(10)

           Quantity
day_name
Perşembe    1167823
Çarşamba     969558
Salı         961543
Pazartesi    815354
Cuma         794440
Pazar        467732

In [24]:
df['TotalPrice'] = df.Quantity * df.UnitPrice

# En çok iptal hangi günde?

In [25]:
df_cancel = df[df.InvoiceNo.str.startswith("C", na=False)]
df_cancel.groupby(['day_name']).TotalPrice.agg(['sum'])

                 sum
day_name
Cuma      -277605.30
Pazar       -8148.72
Pazartesi -190965.61
Perşembe   -90642.24
Salı      -212449.82
Çarşamba  -117000.80

# Ayların İsimlerine Göre Toplam Satış

In [26]:
# Ayların isimleri ile rakamları eşleştiren fonksiyon
def month_switch(i):
        switcher={
                
                1:'Ocak',
                2:'Şubat',
                3:'Mart',
                4:'Nisan',
                5:'Mayıs',
                6:'Haziran',
                7:'Temmuz',
                8:'Ağustos',
                9:'Eylül',
                10:'Ekim',
                11:'Kasım',
                12:'Aralık'
             }
        return switcher.get(i)

In [27]:
# Test
month_switch(3)

'Mart'

In [28]:
# Pandas dataframe month series içinde dolaşarak paterne uygun eşleştirme yapalım
months = []
for i in df.month:
    months.append(month_switch(i))

In [29]:
# Oluşturduğumuz paterni taşıyan listeyi yeni bir sütun olarak dataframe e ekleyelim
df["month_names"] = months

In [30]:
# Eklenenlerin distinct kontrolü
df['month_names'].unique()

array(['Aralık', 'Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Haziran',
       'Temmuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım'], dtype=object)

In [31]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,year,day_of_month,month,day_of_week,quarter,week_of_year,date,TotalPrice,day_name,month_names
InvoiceDate,,,,,,,,,,,,,,,,,
2010-12-01 08:26:00,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,2010,1,12,2,4,48,2010-12-01 08:26:00,15.30,Çarşamba,Aralık
2010-12-01 08:26:00,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,2010,1,12,2,4,48,2010-12-01 08:26:00,20.34,Çarşamba,Aralık
2010-12-01 08:26:00,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,2010,1,12,2,4,48,2010-12-01 08:26:00,22.00,Çarşamba,Aralık
2010-12-01 08:26:00,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom,2010,1,12,2,4,48,2010-12-01 08:26:00,20.34,Çarşamba,Aralık
2010-12-01 08:26:00,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom,2010,1,12,2,4,48,2010-12-01 08:26:00,20.34,Çarşamba,Aralık

# Yıllara Göre TOplam Satış

In [126]:
df \
.groupby(['year']).TotalPrice \
.agg(['count','mean','sum']) \
.sort_values('sum',ascending=False) \
.head()

       count       mean           sum
year
2011  499428  18.018195  8.998791e+06
2010   42481  17.630400  7.489570e+05

# Aylara göre toplam satış

In [32]:
df \
.groupby(['month_names']).TotalPrice \
.agg(['sum']) \
.sort_values('sum',ascending=False) \
.head(30)

                     sum
month_names
Kasım        1461756.250
Aralık       1182625.030
Ekim         1070704.670
Eylül        1019687.622
Mayıs         723333.510
Haziran       691123.120
Mart          683267.080
Ağustos       682680.510
Temmuz        681300.111
Ocak          560000.260
Şubat         498062.650
Nisan         493207.121

# Aylara göre ortalama ve toplam satış miktarı ile işlem sayısı

In [33]:
df \
.groupby(['month']).TotalPrice \
.agg(['count','mean','sum']) \
.sort_values('sum',ascending=False) \
.head(30)

       count       mean          sum
month
11     84711  17.255802  1461756.250
12     68006  17.390010  1182625.030
10     60742  17.627089  1070704.670
9      50226  20.301987  1019687.622
5      37030  19.533716   723333.510
6      36874  18.742830   691123.120
3      36748  18.593313   683267.080
8      35284  19.348161   682680.510
7      39518  17.240248   681300.111
1      35147  15.933088   560000.260
2      27707  17.976058   498062.650
4      29916  16.486399   493207.121

# Aylara ve yıllara göre

In [127]:
df \
.groupby(['year','month']).TotalPrice \
.agg(['count','mean','sum']) \
.sort_values('sum',ascending=False) \
.head(30)

            count       mean          sum
year month
2011 11     84711  17.255802  1461756.250
     10     60742  17.627089  1070704.670
     9      50226  20.301987  1019687.622
2010 12     42481  17.630400   748957.020
2011 5      37030  19.533716   723333.510
     6      36874  18.742830   691123.120
     3      36748  18.593313   683267.080
     8      35284  19.348161   682680.510
     7      39518  17.240248   681300.111
     1      35147  15.933088   560000.260
     2      27707  17.976058   498062.650
     4      29916  16.486399   493207.121
     12     25525  16.989932   433668.010

# En çok iptal hangi müşteriden?

In [34]:
df_cost = df[df['InvoiceNo'].str.startswith('C', na=False)]
df_cost.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,year,day_of_month,month,day_of_week,quarter,week_of_year,date,TotalPrice,day_name,month_names
InvoiceDate,,,,,,,,,,,,,,,,,
2010-12-01 09:41:00,C536379,D,Discount,-1,27.50,14527.0,United Kingdom,2010,1,12,2,4,48,2010-12-01 09:41:00,-27.50,Çarşamba,Aralık
2010-12-01 09:49:00,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,4.65,15311.0,United Kingdom,2010,1,12,2,4,48,2010-12-01 09:49:00,-4.65,Çarşamba,Aralık
2010-12-01 10:24:00,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,1.65,17548.0,United Kingdom,2010,1,12,2,4,48,2010-12-01 10:24:00,-19.80,Çarşamba,Aralık
2010-12-01 10:24:00,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,0.29,17548.0,United Kingdom,2010,1,12,2,4,48,2010-12-01 10:24:00,-6.96,Çarşamba,Aralık
2010-12-01 10:24:00,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,0.29,17548.0,United Kingdom,2010,1,12,2,4,48,2010-12-01 10:24:00,-6.96,Çarşamba,Aralık

In [35]:
df_cost \
.groupby(['CustomerID']).TotalPrice \
.agg(['sum']) \
.sort_values('sum') \
.head()

                  sum
CustomerID
16446.0    -168469.60
12346.0     -77183.60
15098.0     -39267.00
16029.0     -30032.23
15749.0     -22998.40

# alias

In [36]:
d = {'sum':'toplam'}
df_cost \
.groupby(['CustomerID']).TotalPrice \
.agg(['sum']) \
.sort_values('sum') \
.rename(columns=d) \
.head()

               toplam
CustomerID
16446.0    -168469.60
12346.0     -77183.60
15098.0     -39267.00
16029.0     -30032.23
15749.0     -22998.40

# Bir işlemde gerçekleşen en büyük satış

In [37]:
df \
.groupby(['InvoiceNo']).TotalPrice \
.agg(['max']) \
.sort_values('max', ascending=False) \
.head()

                 max
InvoiceNo
581483     168469.60
541431      77183.60
556444      38970.00
537632      13541.33
A563185     11062.06

In [38]:
# Hangi müşteri bir defada en çok satış yapmış

In [39]:
df \
.groupby(['InvoiceNo','CustomerID']).TotalPrice \
.agg(['max']) \
.sort_values('max', ascending=False) \
.head()

                            max
InvoiceNo CustomerID
581483    16446.0     168469.60
541431    12346.0      77183.60
556444    15098.0      38970.00
551697    16029.0       8142.75
567423    17450.0       7144.72

# rolling window

In [40]:
df['TotalPrice100ma'] = df.TotalPrice.rolling(window=100, min_periods=0).mean()
df.tail()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,year,day_of_month,month,day_of_week,quarter,week_of_year,date,TotalPrice,day_name,month_names,TotalPrice100ma
InvoiceDate,,,,,,,,,,,,,,,,,,
2011-12-09 12:50:00,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,0.85,12680.0,France,2011,9,12,4,4,49,2011-12-09 12:50:00,10.20,Cuma,Aralık,22.1758
2011-12-09 12:50:00,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2.10,12680.0,France,2011,9,12,4,4,49,2011-12-09 12:50:00,12.60,Cuma,Aralık,22.1368
2011-12-09 12:50:00,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,12680.0,France,2011,9,12,4,4,49,2011-12-09 12:50:00,16.60,Cuma,Aralık,22.1238
2011-12-09 12:50:00,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,12680.0,France,2011,9,12,4,4,49,2011-12-09 12:50:00,16.60,Cuma,Aralık,22.1108
2011-12-09 12:50:00,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,4.95,12680.0,France,2011,9,12,4,4,49,2011-12-09 12:50:00,14.85,Cuma,Aralık,22.0803

In [41]:
print(max(df.date))
print(min(df.date))

2011-12-09 12:50:00
2010-12-01 08:26:00

# tarih farkı bulma

In [128]:
# Promosyon tarih aralıkları
data = [['pro1', '2011-01-01', '2011-03-31'], ['pro2', '2011-04-01','2011-06-30'], ['pro3', '2011-07-01','2011-09-30'],
          ['pro4','2011-10-01','2011-12-31']
         ] 
  
# Promosyon dataframe
df_promotion = pd.DataFrame(data, columns = ['promotion', 'start_date', 'end_date']) 
   
df_promotion.head()

  promotion  start_date    end_date
0      pro1  2011-01-01  2011-03-31
1      pro2  2011-04-01  2011-06-30
2      pro3  2011-07-01  2011-09-30
3      pro4  2011-10-01  2011-12-31

In [129]:
df_promotion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
promotion     4 non-null object
start_date    4 non-null object
end_date      4 non-null object
dtypes: object(3)
memory usage: 176.0+ bytes

In [130]:
df_promotion['start_date'] = pd.to_datetime(df_promotion['start_date'])
df_promotion['end_date'] = pd.to_datetime(df_promotion['end_date'])

In [131]:
df_promotion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
promotion     4 non-null object
start_date    4 non-null datetime64[ns]
end_date      4 non-null datetime64[ns]
dtypes: datetime64[ns](2), object(1)
memory usage: 176.0+ bytes

In [132]:
df_promotion.head()

  promotion start_date   end_date
0      pro1 2011-01-01 2011-03-31
1      pro2 2011-04-01 2011-06-30
2      pro3 2011-07-01 2011-09-30
3      pro4 2011-10-01 2011-12-31

In [148]:
def is_date_between_them(start_dates, end_dates, check_date):
    # bir tarihin iki tarih arasında olup olmadığını kontrol eden fonksiyon
    # Parametrelerde start_dates ve end_dates aynı dataframe e ait aralarında tarih aralığı bulunan tarihler
    flag = False 
    # tarih aralıklarının içinde dolaşalım ve belirtilen tarihin aralıkta olup olmadığını kontrol edelim
    for start_date, end_date in zip(start_dates, end_dates):
        # tarih aralıkta ise flag true olsun değilse false
        if( (check_date >= start_date) & (check_date <= end_date) ):
            flag = True
            break
    return flag

In [149]:
# df e bir nitelik ekleyeceğimiz için onun uzunluğundaki bir listeyi paterne uygun dolduralım
is_promotion = []
# date sütunu içinde dolaş
for check_date in df.date:
    # eğer bu satırdaki tarih promotion tablosundaki tarihler arasında ise listeye 1 ekle yoksa 0
    if(is_date_between_them(df_promotion.start_date, df_promotion.end_date, check_date)):
        is_promotion.append(1)
    else: is_promotion.append(0)

In [150]:
# df'e yeni sütun eklemeden önce boyut lar bunun için uygun mu kontrol edelim.
print(len(is_promotion))
print(df.shape)

541909
(541909, 19)

In [151]:
df["is_promotion"] = is_promotion

In [152]:

df[ (df.date > pd.Timestamp('2011-04-01')) & (df.date < pd.Timestamp('2011-06-30')) ].head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,year,day_of_month,month,day_of_week,quarter,week_of_year,date,TotalPrice,day_name,month_names,TotalPrice100ma,is_promotion
InvoiceDate,,,,,,,,,,,,,,,,,,,
2011-04-01 08:22:00,548550,22662,LUNCH BAG DOLLY GIRL DESIGN,10,1.65,18161.0,United Kingdom,2011,1,4,4,2,13,2011-04-01 08:22:00,16.5,Cuma,Nisan,19.2376,1
2011-04-01 08:22:00,548550,22296,HEART IVORY TRELLIS LARGE,12,1.65,18161.0,United Kingdom,2011,1,4,4,2,13,2011-04-01 08:22:00,19.8,Cuma,Nisan,19.2826,1
2011-04-01 08:22:00,548550,21790,VINTAGE SNAP CARDS,12,0.85,18161.0,United Kingdom,2011,1,4,4,2,13,2011-04-01 08:22:00,10.2,Cuma,Nisan,19.2316,1
2011-04-01 08:22:00,548550,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,9.95,18161.0,United Kingdom,2011,1,4,4,2,13,2011-04-01 08:22:00,19.9,Cuma,Nisan,19.2776,1
2011-04-01 08:22:00,548550,22393,PAPERWEIGHT VINTAGE COLLAGE,6,2.55,18161.0,United Kingdom,2011,1,4,4,2,13,2011-04-01 08:22:00,15.3,Cuma,Nisan,18.9806,1

In [153]:
df \
.groupby(['year','month','is_promotion']).TotalPrice \
.agg(['sum']).head(15)

                                 sum
year month is_promotion
2010 12    0              748957.020
2011 1     1              560000.260
     2     1              498062.650
     3     0               31004.080
           1              652263.000
     4     1              493207.121
     5     1              723333.510
     6     0               43834.550
           1              647288.570
     7     1              681300.111
     8     1              682680.510
     9     0               43992.850
           1              975694.772
     10    1             1070704.670
     11    1             1461756.250