In [1]:
import pandas as pd

In [3]:
# kaynak: https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

In [2]:
order_items_df = pd.read_csv("D:\\OneDrive\\egitim\\verilen\\bogazici-compec-python-ml\\Datasets\\retail_db\\order_items.csv")

In [3]:
products_df = pd.read_csv("D:\\OneDrive\\egitim\\verilen\\bogazici-compec-python-ml\\Datasets\\retail_db\\products.csv")

In [4]:
order_items_df.head()

,orderItemName,orderItemOrderId,orderItemProductId,orderItemQuantity,orderItemSubTotal,orderItemProductPrice
0,1,1,957,1,299.98,299.98
1,2,2,1073,1,199.99,199.99
2,3,2,502,5,250.00,50.00
3,4,2,403,1,129.99,129.99
4,5,4,897,2,49.98,24.99

In [5]:
products_df.head()

,productId,productCategoryId,productName,productDescription,productPrice,productImage
0,1,2,Quest Q64 10 FT. x 10 FT. Slant Leg Instant U,NaN,59.98,http://images.acmesports.sports/Quest+Q64+10+F...
1,2,2,Under Armour Men's Highlight MC Football Clea,NaN,129.99,http://images.acmesports.sports/Under+Armour+M...
2,3,2,Under Armour Men's Renegade D Mid Football Cl,NaN,89.99,http://images.acmesports.sports/Under+Armour+M...
3,4,2,Under Armour Men's Renegade D Mid Football Cl,NaN,89.99,http://images.acmesports.sports/Under+Armour+M...
4,5,2,Riddell Youth Revolution Speed Custom Footbal,NaN,199.99,http://images.acmesports.sports/Riddell+Youth+...

# Union two dataframe with concatenate

In [9]:
products_df.shape

(1345, 6)

In [11]:
union_products_df = pd.concat([products_df, products_df])

In [12]:
union_products_df.shape

(2690, 6)

# Inner Join two dataframes

In [6]:
inner_join_df = pd.merge(order_items_df, products_df, left_on = "orderItemProductId", right_on = "productId", how = "inner")

In [7]:
inner_join_df.head()

,orderItemName,orderItemOrderId,orderItemProductId,orderItemQuantity,orderItemSubTotal,orderItemProductPrice,productId,productCategoryId,productName,productDescription,productPrice,productImage
0,1,1,957,1,299.98,299.98,957,43,Diamondback Women's Serene Classic Comfort Bi,NaN,299.98,http://images.acmesports.sports/Diamondback+Wo...
1,9,5,957,1,299.98,299.98,957,43,Diamondback Women's Serene Classic Comfort Bi,NaN,299.98,http://images.acmesports.sports/Diamondback+Wo...
2,12,5,957,1,299.98,299.98,957,43,Diamondback Women's Serene Classic Comfort Bi,NaN,299.98,http://images.acmesports.sports/Diamondback+Wo...
3,15,7,957,1,299.98,299.98,957,43,Diamondback Women's Serene Classic Comfort Bi,NaN,299.98,http://images.acmesports.sports/Diamondback+Wo...
4,34,12,957,1,299.98,299.98,957,43,Diamondback Women's Serene Classic Comfort Bi,NaN,299.98,http://images.acmesports.sports/Diamondback+Wo...

In [15]:
inner_join_df.shape

(172198, 12)

In [16]:
order_items_df.shape

(172198, 6)

In [17]:
products_df.shape

(1345, 6)

In [ ]:
# Tüm ürünler sipariş tablosunda var.

# Outer join two dataframes

In [18]:
outer_join_df = pd.merge(order_items_df, products_df, left_on = "orderItemProductId", right_on = "productId", how = "outer")

In [19]:
outer_join_df.head()

,orderItemName,orderItemOrderId,orderItemProductId,orderItemQuantity,orderItemSubTotal,orderItemProductPrice,productId,productCategoryId,productName,productDescription,productPrice,productImage
0,1.0,1.0,957.0,1.0,299.98,299.98,957,43,Diamondback Women's Serene Classic Comfort Bi,NaN,299.98,http://images.acmesports.sports/Diamondback+Wo...
1,9.0,5.0,957.0,1.0,299.98,299.98,957,43,Diamondback Women's Serene Classic Comfort Bi,NaN,299.98,http://images.acmesports.sports/Diamondback+Wo...
2,12.0,5.0,957.0,1.0,299.98,299.98,957,43,Diamondback Women's Serene Classic Comfort Bi,NaN,299.98,http://images.acmesports.sports/Diamondback+Wo...
3,15.0,7.0,957.0,1.0,299.98,299.98,957,43,Diamondback Women's Serene Classic Comfort Bi,NaN,299.98,http://images.acmesports.sports/Diamondback+Wo...
4,34.0,12.0,957.0,1.0,299.98,299.98,957,43,Diamondback Women's Serene Classic Comfort Bi,NaN,299.98,http://images.acmesports.sports/Diamondback+Wo...

In [20]:
outer_join_df.shape

(173443, 12)

In [21]:
order_items_df.shape

(172198, 6)

In [22]:
products_df.shape

(1345, 6)

In [23]:
173443 - 172198

1245

In [90]:
# Ürün tablosunda olan bazı ürünlerden sipariş verilmemiş

In [24]:
len(products_df.productId.unique())

1345

In [25]:
len(order_items_df.orderItemProductId.unique())

100